<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard - {{ctrl.user.name}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Apply for your Leave:</h4>
                <div class="form-group">
                    <form role="form" name="form" ng-submit="ctrl.applyLeave()">
                        <label>Select Date</label>
                        <md-datepicker ng-model="ctrl.leaveDetail.fromDate" md-date-filter="ctrl.onlyWeekDaysPredicate"></md-datepicker>
                        <label>Number of Days</label>
                        <input type="number" min="0.5" max="90" step="0.5" ng-model="ctrl.leaveDetail.noOfDays">
                        <label>Leave Type</label>
                        <select name="leavetype" ng-model="ctrl.leaveDetail.leaveType" ng-options="x.type for x in ctrl.leaveTypes">
   							
  					    </select>
                        <label>Purpose:</label>
                        <input type="text" placeholder="(Optional)" ng-model="ctrl.leaveDetail.purpose">
                        <input class="btn btn-default" type="submit" value="Apply"/>
                    </form>
                </div>
                <div>
                    <a ui-sref="main.history">To cancel any applied leave click here.</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-9 ">
                        <div class="huge">{{ctrl.balance.paid_leave}}</div>
                        <div>Paid Leaves left</div>
                    </div>
                </div>
            </div>
            <a ui-sref="main.history">
                <div class="panel-footer">
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <span class="pull-right">View Details &nbsp</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-9">
                        <div class="huge">{{ctrl.balance.casual_leave}}</div>
                        <div>Casual Leaves left</div>
                    </div>
                </div>
            </div>
            <a ui-sref="main.history">
                <div class="panel-footer">
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <span class="pull-right">View Details &nbsp</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-9">
                        <div class="huge" ng-show="ctrl.f">{{ctrl.balance.maternity_leave}}</div>
                        <div class="huge" ng-show="ctrl.m">N/A</div>                        
                        <div>Maternity Leaves left</div>
                    </div>
                </div>
            </div>
            <a ui-sref="main.history">
                <div class="panel-footer">
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <span class="pull-right">View Details &nbsp</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-9">
                        <div class="huge">{{ctrl.balance.sick_leave}}</div>
                        <div>Sick Leaves left</div>
                    </div>
                </div>
            </div>
            <a ui-sref="main.history">
                <div class="panel-footer">
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <span class="pull-left">View Details &nbsp</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="huge" ng-show="ctrl.m">{{ctrl.balance.paternity_leave}}</div>
                        <div class="huge" ng-show="ctrl.f">N/A</div>
                        <div>Paternity Leaves left</div>
                    </div>
                </div>
            </div>
            <a ui-sref="main.history">
                <div class="panel-footer">
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <span class="pull-right">View Details &nbsp</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-9">
                        <div class="huge">{{ctrl.balance.privileged_leave}}</div>
                        <div>Privileged Leaves left</div>
                    </div>
                </div>
            </div>
            <a ui-sref="main.history">
                <div class="panel-footer">
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <span class="pull-right">View Details &nbsp</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->


</div>