<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Leave History</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Employee ID:{{ctrl.user.code}}	Employee Name:{{ctrl.user.name}}
                        </div>
                        <!-- /.panel-heading -->
                        
                        <div class="panel-body">
                            <table datatable="ng" width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th data-sortable="false">From</th>
                                        <th data-sortable="false">To</th>
                                        <th data-sortable="false">Days</th>
                                        <th data-sortable="false">Leave Type</th>
                                        <th data-sortable="false">Purpose</th> 
                                        <th data-sortable="false">Approval Status</th>
                                        <th data-sortable="false">Reject Reason (If)</th>
                                        <th data-sortable="false">Modified By</th>
                                        <th data-sortable="false">Modified On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" ng-repeat="leaveDetail in ctrl.leaveDetails">
                                        <td>{{leaveDetail.fromDate|date}}</td>
                                        <td>{{leaveDetail.toDate|date}}</td>
                                        <td>{{leaveDetail.noOfDays}}</td>
                                        <td>{{leaveDetail.leaveType.type}}</td>
                                        <td></td>
                                        <td>{{leaveDetail.status.status}}&nbsp&nbsp<span ng-if="ctrl.cancelCheck(leaveDetail)"><button type="button" class="btn btn-link" ng-click="ctrl.cancel(leaveDetail)">Cancel</button></span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                     
                                    </tr>
                                    
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                          
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
               
                <!-- /.col-lg-12 -->
            </div>
            